body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.34axcs-aFvoo8fwQOrlxtwHaEo%26pid%3DApi%26h%3D160&f=1");
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    width: 300px;
    padding: 68px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1e5aca;
    text-align: center;
    border-radius: 100px;
}

.title {
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}

.description {
    color: cornsilk;
    font-family: 'Courier New', Courier, monospace;
}

.btn-commands {
    text-align: start;
    border: 20px auto;
    background: brown;
    width: 106px;
    color: yellow;
    height: 30;
    transition: 0.6ms;
    font-size: large;
}

.btn-invite {
    text-align: start;
    border: 20px auto;
    background: brown;
    color: yellow;
    height: 30;
    transition: 0.6ms;
    font-size: large;
    width: 57px;
}

.btn-commands:hover {
    color: blue;
    background: cornflowerblue;
    border-radius: 25px;
}

.btn-invite:hover {
    color: blue;
    background: cornflowerblue;
    border-radius: 25px;
}

.pfp {
    border-radius: 100px;
    cursor: none;
    border: aqua;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #55d6aa;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 73px;
    height: 73px;
    cursor: pointer;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
    cursor: pointer;
}

nav a {
    color: #5256;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    transition: all ease-in-out 500ms;
}

nav a:hover {
    color: #000
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 500ms;
}

nav a:hover::before {
    width: 100%;
}