body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #3472af;
}

.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1e5aca;
  text-align: center;
}
.title {
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}
.description {
    color: cornsilk;
    font-family: 'Courier New', Courier, monospace;
}

.btn-commands {
    text-align: start;
    border: 20px auto;
    background: brown;
    width: 87px;
    color: yellow;
    border-radius: 12px;
    height: 25;
    transition: 0.6ms;
}

.btn-invite {
    text-align: start;
    border: 20px auto;
    background: brown;
    width: 70px;
    color: yellow;
    border-radius: 12px;
    height: 25;
    transition: 0.6ms;
}